.m-aboutme {
    background-color: map-get($map: $colors, $key: 'main1');
    scroll-margin-top: 4.5rem;    
    h1 {
        font-size: 3rem;
        text-align: center;
        color: map-get($map: $colors, $key: 'main2');
        padding-top: 2rem;
        
    }
    .m-aboutme-infobox {
        display: flex;
        h1 {
            font-size: 2.5rem;
        }
        .m-aboutme-infoSkills, .m-aboutme-infoPerson {
            flex: 0.5;
            height: auto;
            margin: 1rem;
            .m-aboutme-advancedSkills, .m-aboutme-basicSkills {
                h2 {
                    font-size: 1.8rem;
                    text-align: center;
                    color: map-get($map: $colors, $key: 'main2');  
                    margin: 2rem 0 2rem 0;  
                }
                .icons {
                    display: flex;
                    justify-content: space-around;
                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
        .m-aboutme-infoPerson {
            p {
                margin: 1.5rem 0 1.5rem 0;
                color: map-get($map: $colors, $key: 'main2');
            }
            .portfolioLink {
                display: flex;
                align-items: center;
                justify-content: center;                
                a {                    
                    background-color: map-get($map: $colors, $key: 'main1');
                    color: map-get($map: $colors, $key: 'main2');
                    border: 0.05rem solid map-get($map: $colors, $key: 'main2');
                    border-radius: 0.4rem; 
                    margin: 0.2rem;          
                    &:hover {
                        background-color: map-get($map: $colors, $key: 'main2');
                        color: map-get($map: $colors, $key: 'main1');
                    }
                }
            } 
            .m-about-social {               
                p {                
                    color: map-get($map: $colors, $key: 'main2');
                }
                .m-about-social-icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    max-width: 80%;
                    margin: 0 auto;
                    height: 2.5rem;            
                    a {                       
                        width: 100%;
                        padding: 0;
                        height: 2.5rem;
                        i {
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            color: map-get($map: $colors, $key: 'main2');
                            font-size: 2rem;                    
                            &:hover {
                                font-size: 2.5rem;
                            }
                        }
                    }            
                }
            }               
        }
        .m-aboutme-infoSkills {
            padding-bottom: 2rem;;
        }
    }    
}


//media query
//Media Query for smartphone => tablette
@media screen and (min-width: 1200px) {
    .m-aboutme {
        height: calc(100vh - 4.5rem);       
        .m-aboutme-infobox {
            .m-aboutme-infoSkills {
                .m-aboutme-advancedSkills, .m-aboutme-basicSkills {
                    .icons {
                        img {
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                    }
                }
            }
        }        
    } 
} 