.m-intro {
    width: 100%;
    background-color: map-get($map: $colors, $key: 'main3');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 4.5rem); 
    margin-top: 4.5rem;
    scroll-margin-top: 4.5rem;
    .m-intro-image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 13rem;
            height: 47%;
        }
    }
    .m-intro-text {
        p, h1, h2 {        
            color: map-get($map: $colors, $key: 'main1');
            text-align: center;
        }
        h1 {
            font-size: 3.5rem;  
            margin-bottom: 0.5rem;      
        }
        h2 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            letter-spacing: 0.3rem;
            text-indent: 0.3rem; //indent h3 1rem for center text with letter-spacing, because letter spacing is not applied on first letter
            animation: color 10s linear infinite;       
        }
        p {
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }
        .btn-about {
            text-align: center;
            a {
                display: inline-block;
                text-align: center;
                background-color: map-get($map: $colors, $key: 'main1');
                color: map-get($map: $colors, $key: 'main2');
                border: 0.05rem solid map-get($map: $colors, $key: 'main2');
                border-radius: 0.4rem;
                &:hover {
                    background-color: map-get($map: $colors, $key: 'main2');
                    color: map-get($map: $colors, $key: 'main1');
                }
            }
        }        
    }
}
    

@keyframes color {
    0% {
        color: map-get($map: $colors, $key: 'main1');        
    }
    50% {
        color: map-get($map: $colors, $key: 'main2');
    }
    100% {
        color: map-get($map: $colors, $key: 'main1'); 
    }
}

@media screen and (min-width: 768px) {
    .m-intro {
        .m-intro-image {
            img {
                width: 14rem;
                height: 60%;
            }
        }
        .m-intro-text {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center; 
            h1, h2, p, .btn-about {
                text-align: left;
            }           
            h2 {
                font-size: 1.8rem;
                letter-spacing: 0.4rem;
                text-indent: 0rem;
            }
            p{
                font-size: 1.3rem;
            }
            .btn-about {
                margin-top: 2rem;
            }        
        }
    }     
} 
@media screen and (min-width: 992px) {
    .m-intro {
        .m-intro-image {
            img {
                width: 15rem;                
            }
        }        
        .m-intro-text {                  
            h1 {
                font-size: 4rem;
            }
            h2 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.5rem;
            }            
        }
    }     
} 
