.l-footer {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: map-get($map: $colors, $key: 'main3');
    color: map-get($map: $colors, $key: 'main1');
    .l-footer-info { 
        width: 100%;       
        font-size: 1rem;
        text-align: center;
        .l-footer-info-contactBox {
            width: 100%;
            height: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .l-footer-info-contactBox-position {
                width: 20rem;
                height: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
                border: 0.1rem solid map-get($map: $colors, $key: 'main1');
                border-radius: 0.4rem; 
                margin: 1rem;
                padding: 0.5rem;                        
                .l-footer-info-infoContact {
                    padding: 1rem;
                    display: flex;
                    width: 15rem;
                    height: 2.5rem;
                    justify-content: flex-start;
                    align-items: center;                                                                                        
                    i {
                        margin-right: 1rem;
                        color: inherit;
                    }
                    a {
                        padding: 0;
                        color: inherit;
                        text-decoration: underline;
                    }
                }
            }                   
        } 
        .l-footer-copyright {
            p {
                margin: 1rem;
                a {
                    color: map-get($map: $colors, $key: 'main2');
                    padding: 0;
                    &:hover {
                        color: map-get($map: $colors, $key: 'main1');
                    }
                }
            }
        }          
    }
}