.m-about-infobox {
    width: 100%;
    height: 30rem;    
}



.m-about-infobox-img {
    height: 100%;
}

.m-about-infobox-txt {
    height: 30rem; 
    padding-top: 3rem;
    
}

.m-about-infobox-img img {
    height: 100%;
}

.m-about-infobox-shaped {
    
    shape-outside: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    width: 5rem;
    height: 30rem;  
    float: left;
}

.m-about-infobox-txt {
    text-align: justify;
    
    h1, h2, p {
        margin: 0.5rem 0;
    }
}