.m-cv {
    margin-top: 3rem;
    height: 100vh;
    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    
}  

.m-cv-decoration {
    background-color: map-get($map: $colors, $key: 'main3'); //For browsers that do not support gradients
    background-image: linear-gradient(to bottom right, map-get($map: $colors, $key: 'main3'), map-get($map: $colors, $key: 'main5')); //For gradient effect
    position: relative;  
    h1 {
        color: map-get($map: $colors, $key: 'main1');        
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1rem;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        
}
    svg {
        display: block;
        background-color: map-get($map: $colors, $key: 'main3'); //For browsers that do not support gradients
        background-image: linear-gradient(to bottom right, map-get($map: $colors, $key: 'main3'), map-get($map: $colors, $key: 'main5')); //For gradient effect
    }
}


.m-cv-infobox-text {
    
    height: 41vh;
    h2 {
        text-align: center;
        padding-bottom: 2rem;
    }
    p {
        text-align: justify;
        padding-bottom: 1rem;
    }
}